<div>
  <div class="center">
    <!--Formulário de tarefas-->
    <form id="todoForm">
      <h3 id="todoFormTitle">Adicionar tarefa:</h3>
      <label for="name">Tarefa: </label>
      <input type="text" id="name" placeholder="Tarefa">
      <button type="submit" id="submitTodoForm">Adicionar tarefa</button>
    </form>

    <br>

    <!--Lista de tarefas do usuário-->
    <div id="todoList">
      <h3 id="todoCount">Carregando tarefas...</h3>
      <ul id="ulTodoList"></ul>
    </div>
    
  </div>
</div>